@font-face {
  font-family: poppins;
  src: url("./fonts/Poppins-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: poppins;
  src: url("./fonts/Poppins-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: poppins;
  src: url("./fonts/Poppins-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: poppins;
  src: url("./fonts/Poppins-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: poppins;
  src: url("./fonts/Poppins-ExtraLight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: poppins;
  src: url("./fonts/Poppins-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: poppins;
  src: url("./fonts/Poppins-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: poppins;
  src: url("./fonts/Poppins-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: poppins;
  src: url("./fonts/Poppins-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: poppins;
  src: url("./fonts/Poppins-SemiBold.ttf");
  font-weight: 600;

}
@font-face {
  font-family: poppins;
  src: url("./fonts/Poppins-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: poppins;
  src: url("./fonts/Poppins-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: poppins;
  src: url("./fonts/Poppins-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;

}
@font-face {
  font-family: poppins;
  src: url("./fonts/Poppins-ExtraBold.ttf");
  font-weight: 800;
  font-sytle: italic;
}
@font-face {
  font-family: poppins;
  src: url("./fonts/Poppins-ExtraBoldItalic.ttf");
  font-weight: 800;
}
@font-face {
  font-family: poppins;
  src: url("./fonts/Poppins-Black.ttf");
  font-weight: 900; 
}
@font-face {
  font-family: poppins;
  src: url("./fonts/Poppins-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: cormorant;
  src: url("./fonts/CormorantInfant-Light.ttf");
  font-weight: 300;
}

.App {
  text-align: center;
  min-height: 100vh;
  background-color:  #171717;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


